/* RESET */
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 62.5%;
    margin: 0 auto;
    height: 100%;
}

.col{
    height: 480px;
}

.big-col{
    width: 70%;
}

.small-col{
    width: 25%;
    text-align: left;
}

div.small-col h2{
    font-size: 3rem;
    margin: 2.5rem 0 3rem 0;
}

div.small-col p{
    font-size: 1.13rem;
    line-height: 1.6;
    color: #0a1527;
}

section.wizard img{
    margin-left: 10rem;
}

div.big-col img{
    width: 50rem;
}

.frog,
.wizard,
.alien{
    margin-bottom: 10rem;
}

.bg-grey{
    background-color: #d2d2d2;
}

.text-white{
    color: white;
}

.bg-violet{
    background-color:  #7289da;
}

header{
    background-color: #255ee9;
    align-items: center;
    flex-direction: column;
}

main section {
    height: 100%;
}

footer{
    background-color: #23272a;
    padding: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

main section.king {
    height: 900px;
}

nav.header-top{
    height: 45px;
    margin: 1rem;
}

nav div.logo,
nav div.login{
    flex-basis: 20%;
    padding:.75rem;
}

nav div.logo img{
    width: 10rem;
}

nav div.login button{
    align-self: flex-end;
    margin-left: 10rem;
    padding: 0.5rem 0.9rem;
    border: none;
    border-radius: 1.5rem;
    font-size: 1rem;
    background-color: white;
}

nav ul.main-menu{
    flex-basis: 80%;
    padding:.75rem;
    text-align: center;
}

nav ul.main-menu li{
    display: inline;
    margin: 0 1.1rem;
    font-size: 1.15rem;
}

div.big-content{
    width: 100%;
    text-align: center;
}

div.big-content img{
    width: 70rem;
}

section.king{
    padding: 40rem 0;
}
.big-content h3{
    font-size: 2.2rem;
    background-image: url('../img/stars.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 45rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
}
/* 
footer section.footer-top{
    height: 500px;
} */

footer section.footer-top aside{
    width: 30%;
    height: 100%;   
}

footer section.footer-top nav{
    width: 70%;
    height: 100%;
}

footer .footer-top nav ul{
    width: 25%;
    height: 100%;
}

footer hr{
    margin: 2rem 0;
}

footer section.footer-bottom{
    /* height: 100px; */
    justify-content: space-between;
}

footer .footer-logo,
footer .footer-button{
    padding: .5rem;
    font-size: 1.25rem;
}

section.footer-top h4{
    font-size: 3rem;
    color: #7289da;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

section.footer-top img{
    width: 5rem;
    width: 1.5rem;
    vertical-align: middle;
}

section.footer-top select{
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

section.footer-top .fa-brands{
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}

section.footer-top ul li{
    list-style-type: none;
    margin-bottom: 1rem;
}

section.footer-top h5{
    font-size: 1rem;
    color: #7289da;
    margin-top: 0.5rem;
}

div#jumbotron{
    height: 42rem;
    width: 100%;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

div#jumbotron .jumbo-content{
    text-align: center;
}

.style-h{
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.style-p{
    line-height: 1.6;
    font-size: 1.18rem;
    margin-bottom: 1rem;
}

.style-button{
    font-size: 1.2rem;
    border: none;
    border-radius: 2rem;
    padding: .8rem;
}

div#jumbotron button:last-child{
    background-color: #23272a;
    color: white;
    margin-left: 2rem;
}

button>span{
    font-weight: bold;
    vertical-align: baseline; 
}